<ul>
    <li>Albany</li>
    <li>Allegany</li>
    <li>Broome</li>
    <li>Cattaraugus</li>
    <li>Cayuga</li>
    <li>Chautauqua</li>
    <li>Chemung</li>
    <li>Chenango</li>
    <li>Clinton</li>
    <li>Columbia</li>
    <li>Cortland</li>
    <li>Delaware</li>
    <li>Dutchess</li>
    <li>Erie</li>
    <li>Essex</li>
    <li>Franklin</li>
    <li>Fulton</li>
    <li>Genesee</li>
    <li>Greene</li>
    <li>Hamilton</li>
    <li>Herkimer</li>
    <li>Jefferson</li>
    <li>Lewis</li>
    <li>Livingston</li>
    <li>Madison</li>
    <li>Monroe</li>
    <li>Montgomery</li>
    <li>Nassau</li>
    <li>Niagara</li>
    <li>Oneida</li>
    <li>Onondaga</li>
    <li>Ontario</li>
    <li>Orange</li>
    <li>Orleans</li>
    <li>Oswego</li>
    <li>Otsego</li>
    <li>Putnam</li>
    <li>Rensselaer</li>
    <li>Rockland</li>
    <li>St. Lawrence</li>
    <li>Saratoga</li>
    <li>Schenectady</li>
    <li>Schoharie</li>
    <li>Schuyler</li>
    <li>Seneca</li>
    <li>Steuben</li>
    <li>Suffolk</li>
    <li>Sullivan</li>
    <li>Tioga</li>
    <li>Tompkins</li>
    <li>Ulster</li>
    <li>Warren</li>
    <li>Washington</li>
    <li>Wayne</li>
    <li>Westchester</li>
    <li>Wyoming</li>
    <li>Yates</li>
    <li>New York City</li>
</ul>